:root {
    --light-pink: #f9cccf;
    --dark-pink: #e8aeb7;
    --light-mint-green: #a1d8bb;
    --dark-mint-green: #7db89e;
    --dark-gray: #444444;
    --light-gray: #ccc;
    --cream: #fff9f7;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--cream);
    font-size: 15px;
}

.main--navbar {
    display: flex;
    justify-content: center;
}

.container {
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 40px;
    width: 100%;
    max-width: 600px;
    text-align: center;
}

.navbar {
    position: static;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #f9cccf;
    padding: 10px;
    text-align: center;
}

.navbar a {
    display: inline-block;
    color: var(--dark-gray);
    padding: 12px 20px;
    text-decoration: none;
    font-size: 1.1em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navbar a:hover {
    background-color: #e8aeb7; /* Even darker blue */
}

@media screen and (min-width: 992px) {
    .main--navbar {
        padding-top: 65px;
    }

    .navbar {
        position: fixed;
    }
}